@import "component/login.css";
@import "component/clock.css";
@import "component/weather.css";
@import "component/queto.css";
@import "component/list.css";
@import "component/background.css";

@import url("@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');");

.hidden {
  display: none;
}
body {
  font-family: "Nanum Myeongjo", serif;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
